$opacity_half: 0.3;

.distraction-free-half,
.distraction-free-full {
  opacity: $opacity_half;
  animation: fadeIntoHalf 300ms;

  &:hover {
    opacity: 1;
    animation: fadeOutHalf 200ms;
  }
}

@keyframes fadeIntoHalf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: $opacity_half;
  }
}

@keyframes fadeOutHalf {
  0% {
    opacity: $opacity_half;
  }
  100% {
    opacity: 1;
  }
}
