// WARNING: This file is global. Use with care. Specify rules as explicit as possible.

.explorer .mat-tab-label {
  height: 40px;
}

.note .mat-card {
  border-radius: 0;
  box-sizing: border-box;

  div.mat-card-header-text {
    padding-left: 0.5em;
    margin: 0;
    order: 2;
    flex-grow: 2;

    .mat-card-subtitle {
      font-size: 10pt;
    }
  }

  .note-text .ql-editor {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 0;
  }
}
