$c_border: #dddddd;
$c_hint: rgb(71, 82, 92);
$c_marker: #6fb1e6;

$c_hover_highlight: aliceblue;
$c_active_highlight: rgb(255, 236, 213);

$c_bg_app: #f9f8fc;
$c_bg_boxes: #fff;

$size_width_editor: 700px;

