<div class="marker-tree" *transloco="let t; read: 'markerTree'">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      matTreeNodePaddingIndent="10"
      class="marker-node"
      [class]="{active: node.id === activeMarkerId}"
      (click)="openMarkerCategory(node)"
    >
      <button mat-icon-button disabled matTreeNodeToggle class="explorer-btn"></button>
      <div class="name">{{ node.name }}</div>
      <button mat-icon-button class="explorer-btn" [matMenuTriggerFor]="markerMenu">
        <mat-icon class="menu">more_vert</mat-icon>
      </button>

      <mat-menu #markerMenu="matMenu">
        <button mat-menu-item (click)="removeMarker(node)">
          <mat-icon>delete</mat-icon>
          <span>{{ t('remove') }}</span>
        </button>
      </mat-menu>
    </mat-tree-node>
  </mat-tree>

  <div class="empty-hint" *ngIf="!dataSource?.data || dataSource?.data?.length === 0">
    {{ t('empty-tree')}}
  </div>
</div>
