<div
  class="wy-quill mat-elevation-z1"
  (click)="onEditorClick($event)"
  [class]="{ readonly: isReadOnly() }"
  *transloco="let t; read: 'quill'"
>
  <quill-editor
    *ngIf="document; else emptyHint"
    #editor
    [ngModel]="content"
    [modules]="modules"
    [styles]="styles"
    (onEditorCreated)="onEditorCreated($event)"
    [readOnly]="isReadOnly()"
    [placeholder]="isLoading ? t('loading') : t('placeholder')"
  >
  </quill-editor>
  <ng-template #emptyHint>
    <wy-note-item-ckeditor-view class="introduction" [data]="introduction"></wy-note-item-ckeditor-view>
  </ng-template>
</div>
