// WARNING: This component is not encapsulated. Styles are applied globally.
@import '../../../styles/variables';

:host,
.wy-quill {
  display: block;
  height: 100%;
}

.wy-quill {
  background-color: $c_bg_boxes;
  padding: 0 12px;

  &,
  .introduction .ql-container {
    border: none;
    font-family: 'Noto Serif', 'Libertinus Serif', 'Palatino Linotype', 'Book Antiqua', serif;
    font-size: 16px;
  }

  .ql-snow.ql-toolbar {
    position: absolute;
    top: 5px;
    z-index: 10;
    width: 660px;
    border: none;
    padding: 8px 0;
    margin-left: -12px;
  }

  &.ql-container,
  .ql-container {
    height: 100%;
    padding: 12px 0;
  }

  .introduction {
    color: #333333;
  }

  .ql-snow.ql-toolbar button,
  .ql-snow .ql-toolbar button {
    width: 26px;
  }

  &.readonly .ql-toolbar {
    visibility: hidden;
  }
}
