<div class="topbar">
  <div class="left">
    <i class="material-icons-outlined">insert_drive_file</i>
    <i class="material-icons-outlined">create_new_folder</i>
  </div>
  <div class="center">
    <button mat-button>Write</button>
    <button mat-button>Review</button>
    <button mat-button>Read</button>
  </div>
  <div class="right">
    <i class="material-icons-outlined">save_alt</i>
    <i class="material-icons-outlined">bookmark</i>
    <i class="material-icons-outlined">history</i>
  </div>
</div>