<div class="create-note" *transloco="let t; read: 'createNote'">
  <form [formGroup]="createNewForm" (ngSubmit)="onSubmit(createNewForm.value)">
    <mat-form-field>
      <mat-label>{{ t('context') }}</mat-label>
      <mat-select formControlName="context" required>
        <mat-option *ngFor="let con of contexts" [value]="con">{{ contextNames[con] }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('type.title') }}</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="info">{{ t('type.info') }}</mat-option>
        <mat-option value="todo">{{ t('type.todo') }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('color.title') }}</mat-label>
      <mat-select formControlName="color" (selectionChange)="changeColor()">
        <mat-option value="">{{ t('color.none') }}</mat-option>
        <mat-option value="#ffd4a0">{{ t('color.orange') }}</mat-option>
        <mat-option value="#bdf9a7">{{ t('color.green') }}</mat-option>
        <mat-option value="#c5e2ff">{{ t('color.blue') }}</mat-option>
        <mat-option value="#fffeae">{{ t('color.yellow') }}</mat-option>
      </mat-select>
    </mat-form-field>
    <ckeditor
      class="note-editor"
      [formControl]="createNewForm.controls['text']"
      [editor]="Editor"
      [config]="editorConfig"
      (ready)="onReady($event)"
      [style.background-color]="noteColor"
    ></ckeditor>
    <div class="actions">
      <button mat-icon-button [disabled]="createNewForm.invalid" type="submit">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>
