<span *transloco="let t; read: 'renameDialog'">
  <h1 mat-dialog-title>{{ t('title', { name: data.oldName }) }}</h1>
  <div mat-dialog-content>
    <p class="message">{{ t('message', { name: data.oldName }) }}</p>
    <mat-form-field>
      <mat-label>{{ t('input') }}</mat-label>
      <input (keyup.enter)="submit()" matInput [(ngModel)]="data.newName" required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">{{ t('cancel') }}</button>
    <button mat-raised-button color="primary" (click)="submit()">{{ t('submit') }}</button>
  </div>
</span>
