:root {
  --md-primary-fg-color: #6287c0;
  --md-primary-fg-color--light: #b8cceb;
  --md-primary-fg-color--dark: #38537a;

  --md-default-bg-color: #f9f8fc;
}

:root > * {
  --md-code-bg-color: #e6e6fb;
}
