.document-editor {
  margin: auto;
  width: 660px;
  overflow-wrap: break-word;

  * {
    box-sizing: border-box;
  }

  &.loading {
    color: grey;
  }
}

.load-indicator {
  position: absolute;
  top: 40px;
  height:5px;
  width: 660px;
}

:host,
.document-editor {
  height: 100%;
}
