:host {
  display: flex;
  justify-content: center
}
.document-editor {
  display: block;
  height: 100%;
  margin-bottom: 3em;
}

.document-editor {
  width: 640px;
  overflow-wrap: break-word;

  * {
    box-sizing: border-box;
  }
}

wy-ckeditor {
  width: 100%;
  min-height: 50vh;
}
