<div
  class="wy-quill"
  (click)="onEditorClick($event)"
  [class]="{ readonly: readOnly }"
  *transloco="let t; read: 'quill'"
>
  <quill-editor
    *ngIf="document; else emptyHint"
    #editor
    [ngModel]="content"
    [modules]="modules"
    classes="wy-quill"
    [styles]="styles"
    (onEditorCreated)="onEditorCreated($event)"
    [readOnly]="readOnly || !document"
    [placeholder]="t('placeholder')"
  >
  </quill-editor>
  <ng-template #emptyHint>
    <div class="empty-hint">
      <h2>{{ t('empty.title') }}</h2>
      <p>{{ t('empty.introduction') }}</p>
      <p>{{ t('empty.quickstart') }}</p>
    </div>
  </ng-template>
</div>
