@import '../../variables.scss';

.wy-quill {
  background-color: $c_bg_boxes;
  box-shadow: $shadow;
  padding: 0 12px;
}

.wy-quill,
::ng-deep .wy-quill .introduction .ql-container {
  border: none;
  font-family: 'Noto Serif', 'Libertinus Serif', 'Palatino Linotype', 'Book Antiqua', serif;
  font-size: 16px;
}

:host,
.wy-quill {
  display: block;
  height: 100%;
}

::ng-deep .wy-quill .ql-snow.ql-toolbar {
  position: absolute;
  top: 5px;
  z-index: 10;
  width: 660px;
  border: none;
  padding: 8px 0;
  margin-left: -12px;
}

::ng-deep .ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  width: 26px;
}

::ng-deep .readonly .ql-toolbar {
  visibility: hidden;
}

::ng-deep .wy-quill.ql-container,
::ng-deep .wy-quill .ql-container {
  height: 100%;
  padding: 12px 0;
}

.introduction {
  color: #333333;
}
