.wy-quill {
  border: none;
  font-family: 'Noto Serif', 'Libertinus Serif', 'Palatino Linotype', 'Book Antiqua', serif;
  font-size: 16px;
}

:host,
.wy-quill {
  display: block;
  height: 100%;
}

::ng-deep .ql-toolbar {
  position: sticky;
  top: -2px;
  z-index: 10;
  background: white;
}

::ng-deep .readonly .ql-toolbar {
  visibility: hidden;
}

::ng-deep .wy-quill.ql-container {
  height: calc(100% - 40px);
}
