.document-editor {
    width: 640px;
    overflow-wrap: break-word;

    ::ng-deep .ck-editor__top {
        position: sticky;
        top: calc(2em + 8px);
    }
    wy-breadcrumb {
        position: sticky;
        top: 10px;
        z-index: 200;
    }


    * {
        box-sizing: border-box;
        height: 500px;
    }
}