<div class="notes" *transloco="let t; read: 'notes'">
  <mat-expansion-panel class="create-note" [expanded]="true" *ngIf="mode === MODES.REVIEW">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ t('createNew') }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <wy-create-new-note
      [contexts]="noteContexts"
      [markerDefs]="markerDefinitions"
      (noteCreated)="createNewNote($event)"
    ></wy-create-new-note>
  </mat-expansion-panel>
  <div *ngIf="mode !== MODES.READ">
    <div *ngFor="let key of noteContexts" class="note">
      <wy-note
        *ngFor="let n of notes[key]"
        [note]="n"
        [markerDefs]="markerDefinitions"
        (deleteNote)="deleteNote($event)"
      ></wy-note>
    </div>
  </div>
</div>
