<div class="notes" *transloco="let t; read: 'notes'">
  <h3>*{{parId}}*</h3>
  <p>{{notes | json }}</p>
  <div *ngFor="let key of noteContexts" class="note">
    <wy-note *ngFor="let n of notes[key]" [note]="n"></wy-note>
  </div>

  <mat-expansion-panel *ngIf="isReviewMode">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{t('createNew')}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <wy-create-new-note [contexts]="noteContexts" (noteCreated)="createNewNote($event)"></wy-create-new-note>
  </mat-expansion-panel>
</div>