<div class="explorer" *transloco="let t; read: 'explorer'">
  <div *ngIf="!selectedProject">
    <wy-projects (projectSelected)="selectProject($event)"></wy-projects>
  </div>
  <div *ngIf="selectedProject">
    <div class="project-name">
      <button class="project-button" (click)="resetProject()" mat-icon-button>
        <mat-icon class="back">arrow_back</mat-icon>
        <i class="project-icon material-icons-outlined">library_books</i>
      </button>
      <span>{{ selectedProject }}</span>
    </div>
    <mat-tab-group>
      <mat-tab [label]="t('tabs.documenttree')">
        <wy-document-tree [project]="selectedProject"></wy-document-tree>
      </mat-tab>
      <mat-tab [label]="t('tabs.markers')">
        <wy-marker-tree (markerChanged)="openMarker($event)" [project]="selectedProject"></wy-marker-tree>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
