.explorer {
    //border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
    height: 100%;
    padding: 1em;

    .explorer-btn {
        height: 24px;
        width: 24px;
        line-height: 24px;

        mat-icon, i {
            font-size: 12pt;
        }
    }
    .mat-tree-node {
        min-height: 28px;
    }
}
