@import '../../variables';

::ng-deep .explorer .mat-tab-label {
  height: 40px;
}

:host {
  background-color: $c_bg_boxes;
  box-shadow: $shadow;
}

.project-name:hover {
  .back {
    display: inline-block;
  }
  .project-icon {
    display: none;
  }
}

.project-name {
  .back {
    display: none;
  }
  .project-icon {
    display: inline;
  }
}
