.new-button {
  font-size: 14px;
  width: 100%;
  text-align: start;

  i {
    font-size: 13pt;
    margin-right: 5px;
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 36px;
}
