<div class="document-labels" *transloco="let t; read: 'documentLabels'">
  <div
    class="write-mode"
    wyAddClassesForDistractionStates
    *ngIf="mode === MODES.WRITE && distractionFreeState !== DF_STATE.FULL"
    [@fadeInOnEnter]
    [@fadeOutFromHalf]
  >
    <div *ngFor="let label of labels">
      <span class="label-name">[{{ label.name }}]</span>
      <span class="value-name"> {{ label.valueName }}</span>
    </div>
  </div>
  <div class="review-mode" *ngIf="mode === MODES.REVIEW && paragraphId" [@fadeInOnEnter]>
    <h3>{{ t('title') }}</h3>
    <div class="empty-hint" *ngIf="!labelDefinitions || labelDefinitions.length === 0">
      {{ t('placeholderEmpty') }}
    </div>
    <div *ngFor="let def of labelDefinitions">
      <mat-form-field *ngIf="def.type === TYPES.TEXT">
        <mat-label>{{ def.name }}</mat-label>
        <mat-select [value]="values[def.id] || ''" (selectionChange)="setValOfTextLabel(def, $event)">
          <mat-option value="">{{ t('noneValue') }}</mat-option>
          <mat-option *ngFor="let val of def.values" [value]="val.id">{{ val.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="numeric-label" *ngIf="def.type === TYPES.NUMERIC">
        <mat-label>
          {{ def.name }}
          <span *ngIf="values[def.id] !== undefined"> [{{ values[def.id] }}] </span>
        </mat-label>
        <mat-slider
          color="primary"
          (change)="setValOfNumLabel(def, $event)"
          [min]="def.start - 1"
          [max]="def.end"
          [step]="def.interval"
          [value]="values[def.id]"
          thumbLabel
        ></mat-slider>
      </div>
    </div>
  </div>
</div>
