<div class="document-editor" [class]="{ loading: isLoading }">
  <mat-progress-bar class="load-indicator" *ngIf="isLoading" mode="indeterminate"> </mat-progress-bar>
  <wy-ckeditor
    *ngIf="document; else emptyHint"
    [content]="editorData"
    [document]="document"
    (editorClicked)="onClick($event)"
    (editorChange)="onChange($event)"
    (editorBlur)="onBlur($event)"
    [readonly]="docMode === DOC_MODES.READ"
  ></wy-ckeditor>
  <ng-template #emptyHint>
    <wy-introduction></wy-introduction>
  </ng-template>
</div>
