<div class="document-editor" [class]="{ loading: isLoading }">
  <mat-progress-bar class="load-indicator" *ngIf="isLoading" mode="indeterminate"> </mat-progress-bar>
  <!-- <wy-quill
    [document]="document"
    [content]="content"
    (updateParagraphMeta)="onClick($event)"
    (contentChanged)="onChange($event)"
    [isLoading]="isLoading"
    [isReadonly]="docMode === DOC_MODES.READ"
  >
  </wy-quill> -->
  <wy-ckeditor
  *ngIf="document"
  [content]="editorData"
  (editorClicked)="onClick($event)"
  (editorChange)="onChange($event)"
  [readonly]="docMode === DOC_MODES.READ"
  ></wy-ckeditor>
</div>
