<div class="explorer">
  <div class="category">
    <mat-icon>arrow_drop_down</mat-icon>
    <span class="category-name active">Novel A spark of fire</span>
    <div class="category">
      <mat-icon>arrow_right</mat-icon>
      <span class="category-name">
        <span>Characters</span>
      </span>
    </div>
    <div class="category">
      <mat-icon>arrow_right</mat-icon><span class="category-name">World</span>
    </div>
    <div class="category">
      <mat-icon>arrow_right</mat-icon><span class="category-name">Magic system</span>
    </div>
    <div class="category">
      <mat-icon>arrow_drop_down</mat-icon><span class="category-name active">Novel</span>
      <span class="document active"><i class="material-icons-outlined">insert_drive_file</i>Chapter 1</span>
      <span class="document"><i class="material-icons-outlined">insert_drive_file</i>Chapter 2</span>
      <span class="document"><i class="material-icons-outlined">insert_drive_file</i>Chapter 3</span>
    </div>
  </div>
  <div class="category">
    <mat-icon>arrow_right</mat-icon><span class="category-name">Novel Sky Castle of Ital </span>
  </div>
  <div class="category">
    <mat-icon>arrow_right</mat-icon><span class="category-name">Novel ideas</span>
  </div>
  <div class="category">
    <mat-icon>arrow_right</mat-icon><span class="category-name">Short story ideas </span>
  </div>
</div>