<div class="app">
  <wy-topbar></wy-topbar>
  <div class="main">
    <div class="left">
      <wy-explorer (docChanged)="changeDoc($event)" (markerChanged)="changeMarker($event)"></wy-explorer>
      <wy-document-marks [paragraphId]="paragraphId" [fileInfo]="fileInfo"></wy-document-marks>
    </div>
    <div class="editor">
      <div class="document-area">
        <wy-document-editor
          *ngIf="fileInfo"
          [fileInfo]="fileInfo"
          (clicked)="onEditorClick($event)"
          (documentChanged)="documentChanged($event)"
        >
        </wy-document-editor>
        <wy-marker-details *ngIf="markerDef" [markerDef]="markerDef"></wy-marker-details>
      </div>
    </div>
    <div class="notes">
      <wy-notes [paragraphId]="paragraphId" [file]="fileInfo"></wy-notes>
    </div>
  </div>
  <wy-footer [document]="document"></wy-footer>
</div>
