<div class="app">
  <wy-topbar (snapshotted)="refreshSnapshotDate($event)" [lastSnapshotDate]="snapshotDate"
    (switchMode)="switchDocumentMode($event)" [mode]="activeMode"></wy-topbar>
  <div class="main">
    <div class="left">
      <wy-explorer (docChanged)="changeDoc($event)"></wy-explorer>
      <wy-document-marks [mode]="activeMode"></wy-document-marks>
    </div>
    <div class="editor">
      <div class="document-area">
        <wy-document-editor [document]="document" [content]="documentContent" (clicked)="onEditorClick($event)"
          (changeContent)="onChange($event)" [isLoading]="isLoading">
        </wy-document-editor>
      </div>
    </div>
    <div class="notes">
      <wy-notes [paragraphId]="paragraphId" [file]="fileInfo" [mode]="activeMode"></wy-notes>
    </div>
  </div>
  <wy-footer [document]="document" [lastSnapshotDate]="snapshotDate"></wy-footer>
</div>