.main, .left, .editor, .notes, .scroll, .document-area  {
    box-sizing: border-box;
    height: 100%;
}
.notes {
    overflow-y: scroll;
}
.app {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: 1fr 750px 1fr;

    .left {
        display: flex;
        
    }
}

.main > * {
     // FIXME uh. this is not so cool. is there a beter solution?
    height: calc(100vh - 80px);
}

::ng-deep .scroll .simplebar-scrollbar::before {
    background: #7a8188 !important;
}

.editor {
    .document-area {
        overflow-y: scroll;
        padding: 2em;
    }
}

