<div class="create-note" *transloco="let t; read: 'createNote'">
  <form [formGroup]="createNewForm" (ngSubmit)="onSubmit(createNewForm.value)">
    <mat-form-field>
      <mat-label>{{t('context')}}</mat-label>
      <mat-select formControlName="context" required>
        <mat-option *ngFor="let con of contexts" [value]="con">{{getContextName(con)}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field (keyup.enter)="create()">
      <mat-label>{{t('comment')}}</mat-label>
      <textarea rows="4" matInput required formControlName="text"></textarea>
    </mat-form-field>
    <button mat-icon-button [disabled]="createNewForm.invalid" type="submit">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</div>