<mat-card class="label-details mat-elevation-z2" *transloco="let t; read: 'labelDetails'">
  <mat-card-header>
    <mat-card-title>{{ labelDefinition.name }}</mat-card-title>
    <mat-card-subtitle>{{ t('type.' + labelDefinition.type) }}</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab [label]="t('titleLabelProps')">
          <div class="tab-content">
            <mat-form-field>
              <mat-label>{{ t('name') }}</mat-label>
              <input matInput required formControlName="name" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('index') }}</mat-label>
              <input matInput type="number" formControlName="index" />
            </mat-form-field>
          </div>
        </mat-tab>

        <mat-tab [label]="t('titleValues')">
          <div class="tab-content value-container numeric-values" *ngIf="labelDefinition.type === types.NUMERIC">
            <mat-form-field>
              <mat-label>{{ t('start') }}</mat-label>
              <input matInput type="number" required formControlName="start" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('end') }}</mat-label>
              <input matInput type="number" required formControlName="end" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ t('interval') }}</mat-label>
              <input matInput type="number" required formControlName="interval" />
            </mat-form-field>
            <span>{{ t('currentNumericalValues', {first: labelDefinition.start, last: labelDefinition.end, interval: labelDefinition.interval, count: labelDefinition.values.length}) }}</span>
          </div>
          <div *ngIf="labelDefinition.type === types.TEXT">
            <ng-container formArrayName="values">
              <div class="text-value-container tab-content" *ngFor="let _ of values.controls; index as i">
                <mat-form-field [formGroupName]="i">
                  <mat-label>{{ t('textvalue') }}</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>
                <button mat-icon-button type="button" (click)="removeValue(i, _.value)" [matTooltip]="t('removeValue')">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </ng-container>
            <button mat-stroked-button type="button" (click)="addNewValue()">
              <mat-icon>add</mat-icon> {{ t('addNewValue') }}
            </button>
          </div>
        </mat-tab>

        <mat-tab [label]="t('titleInfoTemplate')">
          <div class="tab-content">
            <quill-editor
            class="editor"
            [formControl]="editForm.controls['template']"
            [modules]="quillConfig.modules"
            [styles]="quillConfig.styles"
            [placeholder]="t('template')"
          ></quill-editor>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" [disabled]="editForm.invalid" type="submit">
        {{ t('save') }}
      </button>
      <button mat-button (click)="cancel()">{{ t('cancel') }}</button>
    </mat-card-actions>
  </form>
</mat-card>
