<div *transloco="let t; read:'markerDetails'">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
    <mat-form-field>
      <mat-label>{{t('name')}}</mat-label>
      <input matInput required formControlName="name" />
    </mat-form-field>

    <div *ngIf="markerType === types.NUMERIC">
      <mat-form-field>
        <mat-label>{{t('start')}}</mat-label>
        <input matInput type="number" required formControlName="start" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{t('end')}}</mat-label>
        <input matInput type="number" required formControlName="end" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{t('interval')}}</mat-label>
        <input matInput type="number" required formControlName="interval" />
      </mat-form-field>
    </div>
    <div *ngIf="markerType === types.TEXT">
      <ng-container formArrayName="values">
        <div *ngFor="let _ of values.controls; index as i">
          <mat-form-field [formGroupName]="i">
            <mat-label>{{t('textvalue')}}</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <button mat-icon-button (click)="removeValue(i)" [matTooltip]="t('removeValue')">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </ng-container>
      <button mat-button (click)="addNewValue()">
        <mat-icon>add</mat-icon> {{t('addNewValue')}}
      </button>
    </div>
    <div class="actions">
      <button mat-button [disabled]="editForm.invalid" type="submit">
        {{t('save')}}
      </button>
      <button mat-button (click)="cancel()">{{ t('cancel') }}</button>
    </div>
  </form>
</div>