@import '../../styles/variables.scss';

:host {
  //display: block;
  height: 100%;
  box-sizing: border-box;
}

mat-card {
  height: 100%;

  overflow: auto;
  //width: 100%;
  border-radius: 0;
  box-sizing: border-box;

  .mat-form-field {
    display: block;
  }

  .tab-content {
    margin: 1em;
    overflow: auto;
  }
  .mat-card-actions {
    padding-bottom: 0;
  }

  .text-value-container {
    display: flex;
    flex-direction: row;

    .mat-form-field {
      flex-grow: 2;
    }
  }

  .numeric-values {
    mat-input-field {
      display: block;
    }
  }
}
