@import '../../styles/variables.scss';

:host {
  //display: block;
  height: 100%;
  box-sizing: border-box;
}

.marker-details {
  height: 100%;

  //width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  box-sizing: border-box;

  form {
    overflow: auto;
    overflow-x: hidden;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    mat-card-content {
      display: block;
      flex-grow: 2;
    }
  }

  .mat-form-field {
    display: block;
  }

  .tab-content {
    margin: 1em;
    overflow: auto;
  }
  .mat-card-actions {
    padding-bottom: 0;
  }

  .text-value-container {
    display: flex;
    flex-direction: row;

    .mat-form-field {
      flex-grow: 2;
    }
  }

  .numeric-values {
    mat-input-field {
      display: block;
    }
  }
}
