.marker-details {
  margin: 1em;
  max-width: 480px;

  .actions {
    margin: 1em;

    button {
      margin: 1em;
    }
  }

  .mat-form-field {
    display: block;
  }

  .text-value-container {
    display: flex;
    flex-direction: row;

    .mat-form-field {
      flex-grow: 2;
    }
  }

  .numeric-values {
    mat-input-field {
      display: block;
      width: 100%;
    }
  }
}
