:host {
  width: 100%;
}

.name {
  display: flex;
  flex-direction: row;
  .mat-form-field {
    flex-grow: 2;
  }
}

.editor-wrap {
  position: relative;
}
.toolbar {
  visibility: hidden;
  position: absolute;
}
.visible {
  visibility: visible;
}
