<div class="topbar" *transloco="let t; read: 'topbar'">
  <div class="left">
    <wy-breadcrumb></wy-breadcrumb>
  </div>
  <div class="center">
    <div class="wy-ckeditor-toolbar">
      <div id="ckeditor-toolbar-container"></div>
    </div>
  </div>
  <div class="right">
    <button class="save-btn" mat-icon-button (click)="save()" [matTooltip]="t('save')">
      <mat-icon>save_alt</mat-icon>
    </button>
    <button class="snapshot-btn" mat-icon-button (click)="snapshot()" [matTooltip]="t('snapshot')">
      <i class="material-icons-outlined">camera_alt</i>
    </button>
    <button mat-icon-button (click)="tag()" [matTooltip]="t('tag')">
      <mat-icon>bookmark_border</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="t('history')" disabled>
      <mat-icon>history</mat-icon>
    </button>
  </div>
</div>
