<div class="topbar" *transloco="let t; read: 'topbar'">
  <div class="left">
    <wy-breadcrumb></wy-breadcrumb>
  </div>
  <div class="center">

  </div>
  <div class="right">
    <button mat-icon-button (click)="snapshot()" [matTooltip]="t('snapshot')">
      <mat-icon>save_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="tag()" [matTooltip]="t('tag')">
      <mat-icon>bookmark_border</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="t('history')" disabled>
      <mat-icon>history</mat-icon>
    </button>
  </div>
</div>
