<div class="document-markers" *transloco="let t; read: 'documentMarkers'">
  <div class="write-mode" *ngIf="mode === MODES.WRITE">
    <div *ngFor="let marker of markers">
      <span class="marker-name">[{{ marker.name }}]</span>
      <span class="value-name"> {{ marker.valueName }}</span>
    </div>
  </div>
  <div *ngIf="mode === MODES.REVIEW">
    <div *ngFor="let def of markerDefinitions">
      <mat-form-field *ngIf="def.type === TYPES.TEXT">
        <mat-label>{{ def.name }}</mat-label>
        <mat-select [value]="values[def.id] || ''" (selectionChange)="setValOfTextMarker(def, $event)">
          <mat-option value="">{{ t('noneValue') }}</mat-option>
          <mat-option *ngFor="let val of def.values" [value]="val.id">{{ val.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="def.type === TYPES.NUMERIC">
        <mat-label>{{ def.name }}</mat-label>
        <!-- <mat-select>
          <mat-option (onSelectionChange)="setValOfNumMarker(def, $event)" *ngFor="let val of def.values" value="val.id">{{ val.name }}</mat-option>
        </mat-select> -->

        <mat-slider
          color="primary"
          (change)="setValOfNumMarker(def.id, $event)"
          [min]="def.start - 1"
          [max]="def.end"
          [step]="def.interval"
          [value]="values[def.id]"
          thumbLabel
          [tickInterval]="def.interval"
        ></mat-slider>
        <span>{{ values[def.id] || '' }}</span>
      </div>
    </div>
  </div>
</div>
