@import '../../styles/variables.scss';
@import '../../styles/distractionFree.scss';

:host {
  margin-top: 1em;
  position: relative;
}
.marker-name {
  color: $c_marker;
  margin-right: 0.5em;
}

.value-name {
  min-width: 2em;
  display: inline-block;
}

.write-mode {
  padding-top: 3em;
  text-align: end;
}

.review-mode {
  padding: 0 1em;
  position: absolute;
  top: 0;
  width: calc(100% - 1em);
}

mat-slider,
mat-form-field {
  width: 100%;
}
.numeric-marker mat-label {
  display: block;
}

.empty-hint {
  color: $c_hint;
}
