@import '../../variables.scss';

.marker-name {
  color: $c_marker;
  margin-right: 0.5em;
}

.value-name {
  min-width: 3em;
  display: inline-block;
}

.write-mode {
  padding-top: 3em;
  text-align: end;
}
