@import 'app/variables';

/* You can add global styles to this file, and also import other style files */
html, body, app-root, .app {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

//Scrollbar
::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 12px $color-border;
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
  }
  
  * {
    scrollbar-color: $color-border transparent;
    scrollbar-width: thin;
  }

