@import 'app/styles/variables';
@import 'app/styles/materialAdjustments';

html,
body,
app-root,
.app {
  box-sizing: border-box;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  background-color: $c_bg_app;
}

// CKEDITOR
.ck.ck-toolbar {
  border: none;
  background-color: unset;
}

.document-editor {
  .ck-editor,
  .ck-content {
    border: none;
  }
}
.ck-content p {
  margin: 0;
}

.note-editor {
  .ck.ck-editor__editable_inline {
    border: 1px solid var(--ck-color-toolbar-border);
    border-top: none;
    min-height: 3em;
  }
}
#ckeditor-container.ck-content.ck-editor__editable {
  overflow-y: hidden;
}
.ckeditor-readonly-wrap {
  .ck-content.ck-editor__editable.ck-read-only {
    padding: 0;
  }
}

.mat-typography .ckeditor-component .ck-content,
.mat-typography .ckeditor-readonly-wrap .ck-content {
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Noto Serif', 'Libertinus Serif', 'Palatino Linotype', 'Book Antiqua', serif;
  }

  h1 {
    font-weight: bold;
  }
  h1,
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
}

//Scrollbar
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  min-height: 50px;
  -webkit-box-shadow: inset 0 0 12px $c_border;
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
}

* {
  scrollbar-color: $c_border transparent;
  scrollbar-width: thin;
}
