@import 'app/variables';

/* You can add global styles to this file, and also import other style files */
html,
body,
app-root,
.app {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.app-body {
  .mat-menu-panel {
    $size: 32px;
    min-height: $size;

    .mat-menu-item {
      height: $size;
      line-height: $size;

      .mat-icon {
        height: $size;
        line-height: $size;
        font-size: 12pt;
        margin-right: 0;
      }
    }
  }
}

//Scrollbar
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  min-height: 50px;
  -webkit-box-shadow: inset 0 0 12px $c_border;
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
}

* {
  scrollbar-color: $c_border transparent;
  scrollbar-width: thin;
}
