<ng-container>
  <div class="labels">
    <p>
      labels labels labels labels labels
    </p>
    <p>labelslabelsbalebs</p>
    <p>labelslabelsbalebs</p>
    <p>labelslabelsbalebs</p>
    <p>labelslabelsbalebs</p>
    <!-- <wy-document-labels></wy-document-labels> -->
  </div>
  <div class="editor">
    <!-- <div style="border: 2px solid black; background-color: white; min-height: 900px;">
      <h1>PLACEHODLER EDITOR</h1>
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
      EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR EDITOR
    </div> -->
    <wy-document-editor></wy-document-editor>
  </div>
  <div class="notes">
    notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes
    notes notes notes notes notes
    <!-- <wy-document-note-items></wy-document-note-items> -->
  </div>
</ng-container>
