<div class="notes" *transloco="let t; read: 'notes'">
  <mat-expansion-panel class="create-note" [expanded]="true" *ngIf="mode === MODES.REVIEW" [@fadeInOnEnter]>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ t('createNew') }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <wy-create-new-notes-item
      type="Note"
      [contexts]="noteContexts"
      [markerDefs]="markerDefinitions"
      (itemCreated)="createNewNote($event)"
    ></wy-create-new-notes-item>
  </mat-expansion-panel>
  <div
    *ngIf="shouldShowNotes()"
    wyAddClassesForDistractionStates
    class="existing-notes"
    [@fadeInOnEnter]
    [@fadeOutFromHalf]
  >
    <div *ngFor="let key of noteContexts" class="notes-item">
      <wy-notes-item
        *ngFor="let item of notes[key]"
        [item]="item"
        [markerDefs]="markerDefinitions"
        (deleteItem)="deleteNotesItem($event)"
        (editItem)="editNotesItem($event)"
      ></wy-notes-item>
    </div>
  </div>
</div>
