@import '../../../styles/distractionFree';

.notes {
  padding: 0.5em;
  overflow-y: scroll;
}
.create-note {
  margin-bottom: 0.5em;
}

.filters .filteredOut {
  color: grey;
}

.filters mat-icon {
  font-size: 20px;
  margin-right: 0.5em;
  cursor: pointer;
}
