@import '../../styles/variables.scss';

.mode-switch {
  font-size: 12pt;
  color: $c_hint;

  &.active {
    border-radius: 0;
    background: $c_bg_boxes;
    box-shadow: $shadow;
    color: black;
  }
}
