.mat-card-header {
  max-height: 1.5em;
  justify-content: space-between;
  flex-direction: row-reverse;

  i {
    height: 1em;
    width: 1em;
    font-size: 14pt;
  }
}

::ng-deep .note .mat-card {
  border-radius: 0;
  div.mat-card-header-text {
    margin-left: 0;
    padding-left: 0;
    margin: 0;
    .mat-card-subtitle {
      font-size: 8pt;
    }
  }
}

::ng-deep .note-text .ql-editor {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  padding: 0px;
}

.done-button {
  position: absolute;
  z-index: 5;
  bottom: 24px;
  right: 12px;
  background-color: white;
  display: none;
}

.done-button:hover {
  display: inline;
}

.mat-card {
  margin-bottom: 5px;
  padding: 1em;
  .mat-card-content {
    margin-bottom: 0px;
  }

  &:hover {
    .done-button {
      display: inline;
      animation: fadeIn 300ms;
    }
  }
}

.type-todo {
  //border: 1px solid #808080;
}

.mat-card-actions {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
