.mat-card-header {
  max-height: 1.5em;
  display: flex;

  .type-icon {
    order: 1;
    height: 1em;
    width: 1em;
    font-size: 14pt;
  }
  .expand {
    order: 3;
    cursor: pointer;
  }
}

.done-button:hover {
  display: inline;
}

.mat-card {
  margin-bottom: 5px;
  padding: 1em;
  .mat-card-content {
    margin-bottom: 0;
  }
}

.note .mat-card-actions {
  margin-bottom: 0;
  padding: 8px;
}

.type-todo {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.exandable-wrap {
  overflow-x: hidden;
}

.exandable-wrap.collapsed {
  max-height: 3em;
  overflow-y: hidden;
  transition: ease-in-out max-height 400ms;
}

.exandable-wrap.opened {
  max-height: 460px;
  overflow-y: auto;
  transition: ease-in-out max-height 400ms;
}
