<mat-card [style]="noteStyles" class="{{ classes }}" [@fadeInOnEnter] *transloco="let t; read: 'note'">
  <mat-card-header>
    <i class="material-icons-outlined type-icon">{{ getIconForType() }}</i>
    <mat-card-subtitle class="context">{{ contextName }}</mat-card-subtitle>
    <mat-icon class="expand" [@rotate]="isExpanded" (click)="changeExpand()">
      expand_more
    </mat-icon>
  </mat-card-header>
  <div *ngIf="noteForEditing; else noteRead">
    <mat-card-content>
      <wy-upsert-note [editNote]="noteForEditing" (noteCreated)="finishEditing($event)"></wy-upsert-note>
    </mat-card-content>
  </div>
  <ng-template #noteRead>
    <div class="exandable-wrap" [class]="{ collapsed: !isExpanded, opened: isExpanded }">
      <mat-card-content>
        <wy-note-item-ckeditor-view [data]="note.text"></wy-note-item-ckeditor-view>
      </mat-card-content>
      <mat-card-actions [style]="noteStyles" *ngIf="isExpanded" [@fadeOutOnLeave] [@fadeInOnEnter] class="actions">
        <button
          *ngIf="note.type || labelMode"
          mat-icon-button
          color="primary"
          (click)="delete()"
          [matTooltip]="t('delete')"
          class="done-button"
        >
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="changeKeepOpen()" [matTooltip]="t(note.keepOpen ? 'keepClosed' : 'keepOpen')">
          <mat-icon>{{ note.keepOpen ? 'unfold_less' : 'unfold_more' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="switchToEditMode()" [matTooltip]="t('edit')">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </ng-template>
</mat-card>
