@import '../../styles/variables.scss';

.marker-tree {
  box-sizing: border-box;
  height: 100%;

  .new-marker-button {
    font-size: 14px;
    width: 100%;
    text-align: start;

    i {
      font-size: 13pt;
      margin-right: 5px;
    }
  }

  .explorer-btn {
    height: 24px;
    width: 24px;
    line-height: 24px;

    mat-icon,
    i {
      font-size: 12pt;
    }
  }

  .file-btn {
    width: 18px;

    i {
      font-size: 10pt;
    }
  }

  .marker-node {
    .name:hover {
      cursor: pointer;
    }
  }

  .mat-tree-node {
    min-height: 28px;
    padding: 0 1em;
    display: flex;

    .name {
      flex-grow: 2;
    }

    .menu {
      display: none;
      font-size: 10pt;
    }
  }

  .mat-tree-node:hover {
    background-color: $c_hover_highlight;

    .menu {
      display: inline;
    }
  }
  .active {
    background-color: $c_active_highlight;
  }
}

.empty-hint {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: #bfbfbf;
  padding: 1.5em;
}
